*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.main{
    flex: 1, 1, auto;
}